.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; 
}

.mainBlock {
  flex: 1; // занимает всё оставшееся место после Header
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto; // скроллим только тут
    &::-webkit-scrollbar {
    width: 8px; /* ширина скролла */
  }

  &::-webkit-scrollbar-track {
    background: #f0f0f0; /* фон дорожки */
  }

  &::-webkit-scrollbar-thumb {
    background-color:  rgba(51, 113, 121, 1);
    border-radius: 4px;
    cursor: pointer;
  }
}

.title {
    margin: 0;
    color: rgba(28, 35, 39, 1);
font-size: 24px;
font-weight: 700;
line-height: 33px;
}

.backButton {
    width: 150px;
    background: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:0.5rem;
    border: none;
    margin-bottom: 1rem;
    cursor: pointer;
  
     transition: transform 0.3s ease-in-out;
     color: rgba(51, 113, 121, 1);
     font-size: 16px;
     font-weight: 600;
     line-height: 22px;
    &:hover{
      transform: scale(1.01);
    }
  }

.profileImageBlock {
    margin-top: 2rem;
    padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 24px;
background: rgba(255, 255, 255, 1);
}

.profileImageInfoBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem; 
}

.profileImageInfo{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.PhotoButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profileImage {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgba(227, 230, 232, 1);
}

.fileInfo{
    margin: 0;
    margin-top: 1rem;
    color: rgba(58, 65, 69, 1);
font-size: 16px;
font-weight: 500;
line-height: 22px;
text-align: left;
}

.changePhotoButton {
    margin: 0;
width: 181px;
height: 48px;
border-radius: 12px;
background: rgba(51, 113, 121, 1);
border: none;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 4px;
color: rgba(252, 253, 253, 1);
font-size: 16px;
font-weight: 600;
line-height: 22px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    &:hover{
      transform: scale(1.05);
    }
}

.deletePhotoButton{
    margin-left: 1rem;
    width: 195px;
height: 48px;
background: none;
border: none;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 4px;
color: rgba(229, 57, 53, 1);
font-size: 16px;
font-weight: 600;
line-height: 22px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    &:hover{
      transform: scale(1.05);
    }
}

.personalInfoBlock {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 24px;
background: rgba(255, 255, 255, 1);
padding: 24px;

  .title {
    font-size: 24px;
    font-weight: 700;
    color: rgba(28, 35, 39, 1);
  }

  .nameRow {
    display: flex;
    gap: 1rem;

    .inputGroup {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      label {
        color: rgba(41, 90, 97, 1);
         font-size: 16px;
           font-weight: 600;
            line-height: 22px;
      }

      input,
      textarea {
        padding: 0.75rem 1rem;
        border: 1px solid #e5e7eb;
        border-radius: 12px;
        font-size: 16px;
          outline: none; 
  &:focus {
    border-color: rgba(51, 113, 121, 1); 
    box-shadow: 0 0 0 2px rgba(51, 113, 121, 0.2); 
  }
      }
    }
  }

  .inputGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label {
            color: rgba(41, 90, 97, 1);
         font-size: 16px;
           font-weight: 600;
            line-height: 22px;
    }

    input,
    textarea {
      padding: 0.75rem 1rem;
      border: 1px solid #e5e7eb;
      border-radius: 12px;
      font-size: 16px;
      outline: none; 
      &:focus {
    border-color: rgba(51, 113, 121, 1); 
    box-shadow: 0 0 0 2px rgba(51, 113, 121, 0.2); 
  }
    }
  }
}

.cookingProgress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 12px;

  .progressText {
    font-size: 14px;
    font-weight: 500;
    color: rgba(28, 35, 39, 1);
  }

  .progressNumber {
color: rgba(28, 35, 39, 1);
font-size: 16px;
font-weight: 500;
line-height: 22px;
  }
}

.dietInfoBlock {
  margin-top: 1.5rem;
  border-radius: 24px;
background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;

  label {
            color: rgba(41, 90, 97, 1);
         font-size: 16px;
           font-weight: 600;
            line-height: 22px;
    }

  .sectionTitle {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    color: rgba(28, 35, 39, 1);
  }

  .dietInputsRow {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .dietInput {
      padding: 0.75rem 1rem;
      border: 1px solid #e5e7eb;
      border-radius: 12px;
      font-size: 16px;
      outline: none;

      &:focus {
        border-color: rgba(51, 113, 121, 1);
        box-shadow: 0 0 0 2px rgba(51, 113, 121, 0.2);
      }
    }
  }
}

.inputWithIcon {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;

  input {
    width: 100%;
    padding-right: 2.5rem; // пространство для иконки
  }

  .inputIcon {
    position: absolute;
    right: 0.75rem;
    pointer-events: none; // чтобы клик проходил на input
    color: #9ca3af;
  }
}

.dietInputsRow {
  display: flex;
  flex-direction: column;
  position: relative;

  label {
    margin-bottom: 0.5rem;
    font-weight: 500;
  }

  .selectedAllergies {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    
    .allergyTag {
      border-radius: 12px;
      background: rgba(232, 242, 242, 1);
      padding: 10px 16px 10px 12px;
      border-radius: 12px;
      display: flex;
      align-items: center;
      gap: 4px;
      color: rgba(51, 113, 121, 1);
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      text-align: center;
      cursor: default;

      span {
        cursor: pointer;
      }
    }
  }

  .dietInput {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    font-size: 16px;

    &:focus {
      border-color: #337179; // цвет при фокусе
      outline: none;
    }
  }

  .dropdown {
    position: absolute;
    margin-top: 0.5rem;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    padding: 0.5rem 0;
    list-style: none;
    z-index: 10;

    li {
      padding: 0.5rem 1rem;
      cursor: pointer;

      &:hover {
        background: #f3f4f6;
      }
    }
  }
}

.actionButtons{
    margin-top: 1.5rem;
    border-radius: 24px;
background: rgba(252, 253, 253, 1);
padding: 24px;
display: flex;
flex-direction: row;
justify-content: space-between;
}

.cancelButton{
        margin-left: 1rem;
    width: 133px;
height: 48px;
background: none;
border: 1.5px solid rgba(229, 57, 53, 1);
border-radius: 12px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 4px;
color: rgba(229, 57, 53, 1);
font-size: 16px;
font-weight: 600;
line-height: 22px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    &:hover{
      transform: scale(1.05);
    }
}

.saveButton{
    width: 175px;
height: 48px;
border-radius: 12px;
border: none;
background: rgba(51, 113, 121, 1);
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 4px;
color: rgba(252, 253, 253, 1);
font-size: 16px;
font-weight: 600;
line-height: 22px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    &:hover{
      transform: scale(1.05);
    }
}