# ── Core ──
Django>=5.2.6,<6
djangorestframework>=3.16.1,<4
django-filter>=25.1
django-cors-headers>=4.3
python-dotenv>=1.0

# ── Auth ──
djangorestframework-simplejwt>=5.4.0

# ── API Docs ──
drf-spectacular>=0.28.0
drf-spectacular-sidecar>=2024.6.1

# ── Media ──
Pillow>=10.0.0
