.sidebar {
  background-color: #ffffff;
  border-right: 1px solid #e5e7eb;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;


  /* Верхний блок (логотип + hr) */
  .topBlock {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .logo {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      img {
        display: block;
        height: 2rem;
        object-fit: contain;
      }
    }

    hr {
      border: none;
      height: 1px;
      width: 100%;
      background-color: #e5e7eb;
      margin-top: 1.5rem;
    }
  }

  /* Навигация растягивается на всё доступное пространство */
  .nav {
    flex: 1; /* занимает всё пространство между верхом и низом */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .navButton {
      width: 100%; /* адаптивная ширина */
      display: flex;
      align-items: center;
      gap: 0.75rem;
      padding: 0.5rem 1rem;
      background: none;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;
      font-size: 0.95rem;
      color: #374151;
      transition: background 0.2s, color 0.2s;

      &:hover {
        background-color: #e6fffa;
        color: #0d9488;
      }

      .iconWrapper {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
      }

      &.active {
        background-color: #0d9488;
        color: #ffffff;

        .iconWrapper {
          color: #ffffff;
        }
      }
    }
  }

  /* Premium-блок всегда прижат к низу */
  .premiumBlock {
    align-self: center;
    margin-top: auto; /* прижимаем к низу */
    width: 100%; /* адаптивная ширина */
    border-radius: 24px;
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    

    .premiumTitle {
      font-family: Noto Sans;
      font-size: 1.125rem; /* 18px */
      font-weight: 600;
      line-height: 1.4;
      margin: 0;
      color: #000000;
      width: auto;
    }

    .premiumText {
      margin-top: 0.5rem;
      font-size: 0.875rem; /* 14px */
      font-weight: 400;
      line-height: 1.4;
      color: #000000;
      
    }

    .premiumButton {
      margin-top: 1.5rem;
      width: 100%;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      border: 2px solid #f0f0f1;
      border-radius: 12px;
      background: #ffffff;
      color: #25303e;
      font-family: Noto Sans;
      font-size: 1rem; /* 16px */
      font-weight: 600;
      line-height: 1.4;
      cursor: pointer;
      transition: background 0.2s;

      &:hover {
        background-color: #f0f0f1;
      }
    }
  }
}
